
<li ><%="#"+ song.rank +"("+song.streams+") "+ song.title 
+" featuring " +song.artist+" "+song.publicationDate %>
<a style="color:blue; text-decoration: underline;" onclick=<%= `window.location='./top50/song/${song.rank}'` %>>click here for info</a>
</li>

