<a style="color:blue; text-decoration: underline;" onclick=<%= `window.location='./${song+1}'` %>>Next</a>
<a style="color:blue; text-decoration: underline;" onclick=<%= `window.location='./${song-1}'` %>>Previous</a>
<a style="color:blue; text-decoration: underline;" onclick=<%= `window.location='../'` %>>homepage</a>